<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Find out what movies are now showing!">
  <link rel="icon" href="./images/film.ico" sizes="16x16" type="image/png">
  <title><%= htmlWebpackPlugin.options.metaTitle %></title>
</head>

<body>
  <div class="header">
    <h1 class="header__title"><%= htmlWebpackPlugin.options.pageHeaderTitle %></h1>
    <h2 class="header__subtitle"><%= htmlWebpackPlugin.options.pageHeaderSubtitle %></h2>
  </div>
  <div class="movies" id="movies"></div>
</body>

</html>
